/* fonts */

@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../../assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Inter-Regular.woff') format('woff'),
        url('../../assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('Roboto-Regular'),
        url('../../assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Roboto-Regular.woff') format('woff'),
        url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../../assets/fonts/Roboto-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Roboto-Medium.woff') format('woff'),
        url('../../assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

/* Reset and base styles  */

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
	font-family: 'Inter', sans-serif;
    font-size: 12px;
	font-weight: 400;
	color: #000;
	height: 100vh;
	min-width: 320px;
	background-color: #fff;
}

/* App */

.app {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: #ebeef3;
}